aiobotocore
aiofiles
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
altair==5.1.2
anaconda-catalogs
anaconda-client==1.12.0
anaconda-navigator==2.4.2
anaconda-project
anyio
appdirs==1.4.4
applaunchservices
appnope
appscript
apyori==1.1.2
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
async-timeout
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker==1.6.2
bokeh
boltons
botocore
Bottleneck
brotlipy==0.7.0
cachetools==5.3.1
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.2
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli==1.0.41
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
constantly==15.1.0
contourpy
cookiecutter
cryptography
cssselect==1.1.0
cycler
cytoolz
dask
datasets
datashader
datashape==0.5.4
debugpy
decorator
defusedxml
diff-match-patch
dill
distlib==0.3.7
distributed
docstring-to-markdown
docutils
entrypoints
et-xmlfile==1.1.0
executing
fastjsonschema
filelock==3.12.4
flake8
Flask
fonttools==4.25.0
frozenlist
fsspec
future
gensim
gitdb==4.0.10
GitPython==3.1.37
glob2
gmpy2
greenlet
h5py
HeapDict
holoviews
huggingface-hub
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection==0.5.1
iniconfig
install==1.3.5
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-server
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server_fileid
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kaggle==1.5.16
keyring
kiwisolver
lazy-object-proxy
lazy_loader
libarchive-c
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py-plugins
mdit-py-plugins
mdurl
mistune
more-itertools
mpmath
msgpack
multidict
multipledispatch
multiprocess
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.4.0
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
openpyxl==3.0.10
packaging
pandas==1.5.3
pandocfilters
panel
param
parsel
parso
partd
pathlib
pathspec
patsy==0.5.3
pep8==1.7.1
pexpect
pickleshare
Pillow==9.4.0
pkginfo
plotly
pluggy
ply==3.11
pooch
poyo
prometheus-client
prompt-toolkit
Protego
protobuf==4.24.4
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow==11.0.0
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl==7.45.2
pydeck==0.8.1b0
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreServices
pyobjc-framework-FSEvents
pyodbc
pyOpenSSL
pyparsing
PyQt5-sip==12.11.0
pyrsistent
PySocks
pytest
python-dateutil
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz
pyviz-comms
PyWavelets
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib==1.5.0
regex
requests
requests-file
requests-toolbelt
responses
rfc3339-validator
rfc3986-validator
rich==13.6.0
rope
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
sacremoses
scikit-image
scikit-learn
scipy==1.10.1
Scrapy
seaborn
Send2Trash
service-identity
sip
six
smart-open
smmap==5.0.1
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
statsmodels
streamlit==1.27.2
sympy
tables
tabulate
TBB==0.2
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers
toml
tomlkit
toolz
torch
tornado
tqdm
traitlets
transformers
Twisted
typing_extensions
tzlocal==5.1
uc-micro-py
ujson
Unidecode
urllib3
validators==0.22.0
virtualenv==20.24.5
w3lib
watchdog
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
wrapt
wurlitzer
xarray
xlwings
xxhash
xyzservices
y-py
yapf
yarl
ypy-websocket
zict
zipp
zope.interface
zstandard

